@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.Intro {
  background: $white;
  padding-bottom: 40px;

  @media screen and (min-width: $break-to-desktop) {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .textWrapper {
    padding: 40px 20px;
    margin: auto 0;

    @media screen and (min-width: $break-to-desktop) {
      padding: 40px 60px;
    }

    @media screen and (min-width: $break-to-big-desktop) {
      padding: 40px 10%;
    }

    h1 {
      padding-bottom: 20px;

      @media screen and (min-width: $break-to-desktop) {
        grid-column-start: 2;
        padding-bottom: 30px;
      }
    }

    .headlineSmall {
        padding-top: 7px;
        font-size: 18px;
        color: $dark-gray;
        opacity: 0.85;
    }

    p {
      padding-bottom: 40px;

      @media screen and (min-width: $break-to-desktop) {
        grid-column-start: 2;
        max-width: 70%;
      }
    }

    a {
      @media screen and (min-width: $break-to-desktop) {
        grid-column-start: 2;
      }
    }
  }
}
