@import "@/styles/breakpoints.scss";
@import "@/styles/colors.scss";

.wrapper {
  position: relative;
  height: 40vh;
  overflow: hidden;

  @media screen and (min-width: $break-to-desktop) {
    height: 90vh;
  }

  .trueImage {
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: auto;
    bottom: -2px;
    right: -1px;
    transform: matrix(1, 0, 0, 1, 0, 0);

    @media screen and (min-width: $break-to-tablet) {
      width: 60%;
    }

    @media screen and (min-width: $break-to-desktop) {
      width: 70%;
    }
  }

  .reverse {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: auto;
    left: -1px;
  }

  &.serviceThin {
    @media screen and (min-width: $break-to-desktop) {
      height: 70vh;
    }
  }

  &.thin {
    height: 20vh;

    @media screen and (min-width: $break-to-desktop) {
      height: 60vh;
    }
  }
}