@keyframes appear-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-bottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mobile-nav-appear {
  0% {
    opacity: 0;
    left: -90%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes mobile-nav-dissapear {
  0% {
    opacity: 1;
    left: 0;
  }
  
  100% {
    opacity: 0;
    left: -90%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 0.7;
  }
}