@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.wrapper {
  background: $white;
  position: fixed;
  top: 0;
  left: 1vw;
  height: auto;
  max-height: 100vh;
  width: calc(98vw - 20px);
  // height: 90vh;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  overflow: auto;

  @media screen and (min-width: $break-to-tablet) {
    left: 10vw;
    top: calc(5vh - 25px);
    padding: 20px 30px 30px 30px;
    width: calc(80vw - 40px);
    height: 90vh;

    h2 {
      max-width: 80%;
    }
  }

  @media screen and (min-width: $break-to-desktop) {
    max-width: 600px;
    left: calc(50% - 330px);
  }

  form {
    margin-bottom: 30px;

    @media screen and (min-width: $break-to-tablet) {
      margin-bottom: 0;
    }
  }

  label {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    padding-bottom: 18px;

    input {
      padding: 0 15px;
      margin-top: 5px;
      min-height: 33px;
      border: none;
      border: 1px solid $gray;
      background: #f5f8fa;
      border-radius: 5px;

      &:focus {
        outline: none;
        border-color: rgba(82, 168, 236, 0.8);
      }

      @media screen and (min-width: $break-to-tablet) {
        max-width: 400px;
      }
    }
  }

  .submitButton {
    padding: 14px 24px;
    font-family: $main;
    font-size: 16px;
    font-weight: 600;
    background: $black;
    color: $white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $yellow;
      color: $black;
    }
  }

  .intro {
    font-size: 12px;
    padding: 20px 0 15px 5px;
  }

  .closeSurveyIcon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .privacyPolicy {
    display: flex;
    flex-flow: row;
    padding-bottom: 0;
    margin-bottom: 35px;

    span {
      margin: auto 0 auto 7px;
    }
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: $black;
  opacity: 0.7;
  z-index: 3;
}
