@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.wrapper {
  padding: 20px;
  background: $white;

  @media screen and (min-width: $break-to-desktop) {
    .textWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8vw;
    }

    h2 {
      width: 65%;
    }
  }

  @media screen and (min-width: $break-to-big-desktop) {
    padding: 20px calc((100% - 1100px) / 2);
  }

  @media screen and (min-width: $break-to-bigger-desktop) {
    padding: 20px calc((100% - 1190px) / 2);
  }

  @media screen and (min-width: $break-to-biggest-desktop) {
    padding: 20px calc((100% - 1230px) / 2);
  }

  p {
    padding-bottom: 30px;
  }

  a {
    color: $black;
    font-weight: 700;
    transition: all 0.15s ease-in-out;
    display: inline-block;

    &:hover {
      span {
        color: $blue;
        padding-right: 12px;
      }
    }

    span {
      padding-right: 7px;
      transition: padding 0.3s ease;
    }

    img {
      vertical-align: middle;
    }
  }

  &.grayBackground {
    background: $gray;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: $break-to-desktop) {
      margin: 0;
    }
  }
}
