@import "@/styles/breakpoints.scss";
@import "@/styles/colors.scss";
@import "@/styles/animations.scss";

.header {
  background: $white;
  padding: 9vh 20px 0 20px;
  opacity: 0;
  animation: appear-bottom 0.7s ease 0.6s forwards;

  @media screen and (min-width: $break-to-desktop) {
    h1,
    p {
      max-width: 65%;
    }
  }

  @media screen and (min-width: $break-to-big-desktop) {
    padding: 10vh calc((100% - 1100px) / 2) 20px calc((100% - 1100px) / 2);
  }

  @media screen and (min-width: $break-to-bigger-desktop) {
    padding: 11vh calc((100% - 1190px) / 2) 20px calc((100% - 1190px) / 2);
  }

  @media screen and (min-width: $break-to-biggest-desktop) {
    padding: 11vh calc((100% - 1230px) / 2) 20px calc((100% - 1230px) / 2);
  }

  p {
    padding-bottom: 10px;
  }
}

.content {
  background: $white;
  padding-bottom: 30px;
  opacity: 0;
  animation: appear-bottom 0.7s ease 1.3s forwards;

  @media screen and (min-width: $break-to-desktop) {
    padding: 0;
  }
}
